@import 'tailwindcss';

@font-face {
  font-family: 'RodinBokuto-Pro';
  src: url('./assets/fonts/FOT-RodinBokutoh-Pro-L.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RodinBokuto-Pro';
  src: url('./assets/fonts/FOT-RodinBokutoh-Pro-M.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RodinBokuto-Pro';
  src: url('./assets/fonts/FOT-RodinBokutoh-Pro-DB.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RodinBokuto-Pro';
  src: url('./assets/fonts/FOT-RodinBokutoh-Pro-B.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RodinBokuto-Pro';
  src: url('./assets/fonts/FOT-RodinBokutoh-Pro-EB.otf');
  font-weight: 800;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-rodin-bokuto: 'RodinBokuto-Pro', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rodin-bokuto);
}
