@import 'tailwindcss';

@font-face {
  font-family: 'RodinBokuto-Pro';
  src: url('/fonts/FOT-RodinBokutoh-Pro-L.otf');
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: 'RodinBokuto-Pro';
  src: url('/fonts/FOT-RodinBokutoh-Pro-M.otf');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'RodinBokuto-Pro';
  src: url('/fonts/FOT-RodinBokutoh-Pro-DB.otf');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'RodinBokuto-Pro';
  src: url('/fonts/FOT-RodinBokutoh-Pro-B.otf');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'RodinBokuto-Pro';
  src: url('/fonts/FOT-RodinBokutoh-Pro-EB.otf');
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-rodin-bokuto: 'RodinBokuto-Pro', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rodin-bokuto);
  font-weight: 500;
}

audio {
  @apply h-min;
}

code {
  @apply bg-gray-100 dark:bg-gray-800 text-sm p-5 rounded-lg font-mono;
}

form label,
form legend {
  @apply block font-bold text-sm/6 text-gray-900;
}

form label:has(input[type='radio']) {
  @apply block font-normal text-sm/6 text-gray-900;
}

form input[type='text'],
form input[type='number'],
form select {
  @apply rounded-lg border border-green-500 w-full md:w-1/2 hover:cursor-pointer px-4 py-2 disabled:hover:pointer-events-none disabled:bg-gray-200 disabled:border-gray-300;
}
